<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929549220142-l51n95vgpl84fu8tbai834nb5jkh1n52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929549220142-l51n95vgpl84fu8tbai834nb5jkh1n52</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>929549220142-qbsl3icuiplldc738u84rr6gtidoinuo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTwzwr7n67oDl7edFFs-_9_Lx7XApLnN8</string>
	<key>GCM_SENDER_ID</key>
	<string>929549220142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saurabhinfosys.faceloveios</string>
	<key>PROJECT_ID</key>
	<string>facelove-f2510</string>
	<key>STORAGE_BUCKET</key>
	<string>facelove-f2510.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929549220142:ios:52dd3df40c2fba276622bf</string>
	<key>DATABASE_URL</key>
	<string>https://facelove-f2510.firebaseio.com</string>
</dict>
</plist>